* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif !important;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  cursor: pointer;
}
.header-light .navbar .logo-dark {
  height: 70px;
}
.Banner {
  width: 100%;
  height: calc(100vh - 150px);
  overflow: hidden;
  position: relative;
}
.Banner::after {
  content: ' ';
  width: 100%;
  height: calc(100vh - 150px);
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}
.Banner img {
  width: 100%;
  height: calc(100vh - 150px);
  object-fit: cover;
  object-position: center;
}
.navbar-nav > li.has-dropdown > ul.dropdown-menu {
  background-color: white;
}
ul.dropdown-menu li > a:active,
ul.dropdown-menu li > a:focus,
ul.dropdown-menu li > a:hover,
ul.mega-menu li a:active,
ul.mega-menu li a:focus,
ul.mega-menu li a:hover {
  padding: 0;
  color: #111111;
}
nav#primary-menu {
  box-shadow: 0px -2px 8px #aaa;
}
.container-content {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  padding: 0 30px;
}
.work--content img {
  margin: 40px auto;
  width: 89%;
}
.work-single .work--title h3 {
  margin-bottom: 20px;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10000;
}
.modal-open .modal img {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
}
.register-body {
  display: flex;
  flex-direction: column;
}
.code-of-conduct-checkbox {
  display: flex;
}
a.menu-item:hover {
  text-decoration: none;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons-header button {
  margin: 0 5px;
}
.btn-menu {
  width: 20px;
}
.navbar-dark .navbar-toggler {
  color: #333 !important;
  font-size: 30px;
}
.modal button.close {
  color: #333;
  font-size: 30px;
  padding: 0 10px;
}
.form-group ul {
  padding-left: 10px;
  color: #a3a3a3;
  font-size: 13px;
}
.loggedin {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loggedin h5 {
  padding: 0 11px;
  margin: 0;
}
.btn-with-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-with-loading .loading {
  width: 30px;
  height: 30px;
  margin: 0 !important;
  padding: 0 4px;
}
.modal-open .modal img.loading {
  width: 30px;
  height: 30px;
  margin: 0 !important;
  padding: 0 4px;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(52 160 88 / 14%) !important;
}
.table-bordered td {
  vertical-align: middle !important;
}
.modal-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modal-footer .btn {
  width: 100%;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: #037bfe;
}
.content-middle {
  background-color: #049544;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 0 50px 0;
}
.content-middle .row {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-middle .row h2 {
  color: white;
}
.table-bordered thead td,
.table-bordered thead th {
  font-weight: 400;
  padding: 3px 10px;
  background-color: #019643;
  color: white;
}
.work--title {
  width: 100%;
}
@media only screen and (max-width: 991px) {
  ul.dropdown-menu {
    display: block;
  }
  .btn {
    width: 100%;
  }
}
